html, body {
  background-color: #333;
  color: white;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
}

/* jqconsole */
.jqconsole {
  padding: 10px;
  padding-bottom: 10px;
}

.jqconsole-cursor {
  background-color: #999;
}

.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}

.jqconsole-prompt {
  color: #0d0;
}

.jqconsole-old-prompt {
  color: #0b0;
  font-weight: normal;
}

.jqconsole-input {
  color: #dd0;
}

.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}

.brace {
  color: #00FFFF;
}

.paran {
  color: #FF00FF;
}

.bracket {
  color: #FFFF00;
}

.jqconsole-composition {
  background-color: red;
}
/* end jqconsole */

#pageTitle {
  text-align: center;
}

#editor {
  position: relative;
  width: 100%;
  height: 250px;
  font-family: monospace;
  margin: auto;
}

#console {
  height: 180px;
  width: 100%;
  position: relative;
  background-color: black;
  border: 2px solid #CCC;
  margin: 0 auto;
  margin-top: 50px;
}

/* Button styles  */
#button {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 85px;
  height: 30px;

  /*Reset's element apperance*/
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;

  /* override styles */
  background: #91E22E repeat scroll 0 0;
  font-size: 13px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

#button:hover {
  cursor: pointer;
  opacity: 0.7;
}

#button::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
}

/* Used within FF chrome to target CSS to specific URLs: being FF-specific,

it is also useful for targeting FF-only code */

@-moz-document url-prefix(http://) {
  #button::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
  }
}
/* end Button styles  */
